html{
    scroll-behavior: smooth;
}

/* --------------NAVBAR--------- */
.navbar{
    background: linear-gradient(to top right black , white);
    font-family: 'Raleway', sans-serif;
}

.navbar-brand img{
    /* height: 30%; */
    width: 25%;
    margin-left: 15%;
    border-radius: 1.5rem;
}
.nav-item{
    margin-right: 12%;
    font-size: 1rem;
    border-left: 0.2rem solid grey;
    border-radius: 1.3rem;
}
.nav-item a:hover{
    background-color: rgb(141, 141, 138);
    border-radius: 1.3rem;
}

/*-------------- HEADER BEFORE HOME PAGE----------- */
#header{
    text-align: center;
    margin-top: 10%;
    color: rgb(3, 3, 3);
    font-family: 'Raleway', sans-serif;
    
}
#header h2{
    font-size: 3rem;
}
#header h2:hover{
    font-size: 3.4rem;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color: rgb(46, 43, 1);
}
#header p{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#header::before{
    content: "";
    background: url(images/background.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
/* --------------------HOME PAGE-------------- */
#cards{
    display: flex;
    margin-top: 25%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 1.3rem 1.3rem;
    border:1px solid grey;
    font-family: 'Raleway', sans-serif;
}
.card{
    padding: 1.3rem 0rem;
}
#cards .card-title{
    font-size: 3.5rem;
    color: black;
}
.card-body{
    padding: 1.3rem 0rem;
    margin: 12px;
    color: black;
}
#cards-2{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#cards-2 img{
    height: 20rem;
    width: 20rem;
}
.About{
    border: 0.1rem solid rgb(175, 175, 179); 
    padding: 0.3rem; 
}
#cards-2 h4,p{
    padding: 0.7rem;
}

/* -----------OUR SERVICES--------------- */
#gallery{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
}
#gallery h1{
    text-align: center;
    margin-bottom: 3%;
    color: black;
}
.gallery-card{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2rem;
}
.gallery-card img{
    height: 25rem;
    width: 23rem;
}
.gallery-card img:hover{
    height: 26rem;
    transition-duration: 1.5s;
}

/* ------------PRICES----------- */
#pricing::before{
    content: "";
    background: url(images/background-2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 185%;
    height:120%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
#pricing{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6%;
    font-family: 'Raleway', sans-serif;
}
#pricing .para, h1{
    color: white;

}
.pricing-section h1,p{
    text-align: center;
    margin-top: 3%;
    
}

.pricing-card{
    display: flex;
    margin-top: 5%;
    padding: 0rem 10rem;
    text-align: center;
    
}
.price-card img{
    height: 15rem;
    width: 17.5rem;
}
.pricing-card-title{
    padding-top: 1.2rem;
}
.price-card{
    border: 0.2rem solid rgb(141, 136, 136);
    background-color: rgb(236, 235, 228);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(8, 8, 8);
}

/* -------------------FREE BOCHURE-------------------------- */
#bochure::before{
    content: "";
    background: url(images/bochure.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 245%;
    height:80%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
.bochure-heading{
    color: black;
    margin-left: 2%;
    padding-bottom: 2rem;
}
#bochure p{
    font-size: 1.2rem;
    color: rgb(8, 8, 8);
    font-weight: bold;
    text-align: center;
}
#bochure{
    padding-top: 10rem;
  
    margin-bottom: 15%;
    font-family: 'Raleway', sans-serif;
}

/* ------------------CONTACT PAGE------------------- */
#contact{
    background: linear-gradient(to top right, white, black, red);
}

.contact-heading{
    text-align: center;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
}
.contact-form{
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(255, 255, 255);
    
}
.contact-form input,textarea{
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 0.5rem;
    
}
#contact .btn{
    border: 0.2rem solid rgb(39, 37, 37);
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1%;
}
#contact .btn:hover{
    color: white;
    background-color: black;
}

/* -------------COPYRIGHT------------------------ */
.footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 4%;
}

/* ---------------STORE----------------------- */
#store{
    font-family: 'Raleway', sans-serif;

}
.store-heading{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: black;
}
.store-heading:hover{
    font-size: 3rem;
    color: rgb(33, 48, 3);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;

}
.cake-cart{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-columns: repeat(autofit, minmax(2000px 1fr));
    margin-left: 18%;
    margin-right: 12%;
    margin-top: 5%

}
.cake-cart img{
    height: 18rem;
    width: 17.8rem;
    border-radius:1.2rem ;
}
.store-card{
    justify-content: center;
    border: 0.1rem solid black;
    box-shadow: 2px 2px grey,2px 2px red;
    border-radius: 1.2rem;
    margin: 1rem;
    width: 12rem;
}
.store-card h5,p,a{
    text-align: center;
}
.store-card a{
    margin-bottom: 2%;
    margin-left: 30%;
}
.store-card button{
    margin-left: 30%;
    margin-bottom: 1%;
    border-radius: 0.5rem;
    background-color: blueviolet;
    color: white;
}
.order-heading h1{
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding-top: 3rem;
}
.cart{
    margin-left: 10%;
    margin-right: 10%;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 3rem 6rem;
}
#order button{
    margin-left: 50%;
    margin-bottom: 2%;
    border-radius: 5rem;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
    
}
